

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
  color: #222;
}

.page-container {
  padding: 20px;
}




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background:linear-gradient(90deg,#6b63ff6e,#A084E8);
  color: white;
  position:fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-right: 100px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
  padding-right: 20px;
  margin-right: 50px;
}
.hamburger span{
  width: 25px;
  height: 3px;
  background:white;

}
@media(max-width:768px){
 
  .nav-links{
    position: absolute;
    top:60px;
    right: 0;
    background:linear-gradient(90deg,#6b63ff6e,#A084E8);
    color: black;
    width: 200px;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    display: none;
    box-shadow: 0px 4px 12px rgba(0,0);
  }

  .nav-links.open{
    display: flex;
  }
  .hamburger{
    display: flex;
  }
}




/*.home-page {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
*/
.home-page {
  padding: 20px;
}

/* HERO SECTION */
/*.hero {
  background: linear-gradient(135deg, #6a5acd, #b19cd9);
  color: white;
  padding: 60px 30px;
  border-radius: 15px;
  text-align: center;
  animation: fadeIn 1.2s ease-in-out;
}*/

.hero{
  display: flex;
  background:linear-gradient(135deg, #695acdaa,rgba(128, 0, 128, 0.534));
  color: white;
  padding:100px 150px;
  border-radius: 15px;
  text-align: center;
  justify-content: space-between;
  animation: fadeIn 1.2s ease-in-out;
  margin-top: 100px;

}
.profile-img{
  height: 300px;
  width: 300px;
  border-radius:60%;

}
.hero-title {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}

.hero-title span {
  color: #ffe082;
}

.hero-subtitle {
  margin: 10px 0 25px;
  font-size: 18px;
}

/* ANIMATED BUTTON */


/* FEATURES SECTION */
/*.features {
  margin-top: 40px;
  text-align: center;
}

.features h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  width: 30%;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}*/

/* ✨ ANIMATION */
/*@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}*/

/* 📱 MOBILE RESPONSIVE (MEDIA QUERY) */
@media (max-width:768px) {
  .hero{
  display:inline-block;
  padding:30px 45px;
  margin-right: 50px;

}
  .hero-title {
    font-size: 28px;
  }

  .hero-subtitle {
    font-size: 16px;
  }
}
.profile-img{
  height: 250px;
  width: 250px;
  border-radius:60%;

}

 /* .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}*/


/*.about-page {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
*/
.about-page {
  padding: 20px;
}

/* HERO */
.about-hero {
   background:linear-gradient(135deg, #695acdaa,rgba(128, 0, 128, 0.534));
  color: white;
  padding: 50px 30px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 100px;
}

.about-hero h1 {
  margin: 0 0 10px 0;
  font-size: 38px;
}

.about-hero p {
  font-size: 17px;
  margin: 8px 0;
}

/* CARDS */
.about-cards-section h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.about-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.about-card {
  background: white;
  padding: 20px;
  width: 30%;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

.about-card:hover {
  transform: translateY(-8px);
}

/* Mobile */
@media(max-width: 768px){
  .about-cards {
    flex-direction: column;
    align-items: center;
  }
  .about-card {
    width: 90%;
  }
}

/*.education-page {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.edu-list li {
  margin-bottom: 10px;
}



.contact-page {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}*/

.education-page {
  padding: 20px;
}

/* HERO */
.edu-hero {
  background:linear-gradient(135deg, #695acdaa,rgba(128, 0, 128, 0.534));
  color: white;
  padding: 50px 25px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 40px;
   margin-top: 100px;
}

.edu-hero h1 {
  font-size: 35px;
}

/* EDUCATION CARDS */
.edu-list-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}

.edu-card {
  background: white;
  padding:15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transition: 0.3s ease;

}

.edu-card:hover {
  transform: translateY(-8px);
}

/* Responsive */
@media(max-width: 768px){
  .edu-card {
    width:90%;
     margin:0 auto;
  }
}

.contact-page {
  padding: 20px;
}

/* HERO */
.contact-hero {
 background:linear-gradient(135deg, #695acdaa,rgba(128, 0, 128, 0.534));
  color: white;
  padding: 50px 25px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 40px;
   margin-top: 100px;
}

/* CARDS */
.contact-details {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.contact-card {
  background: white;
  padding: 20px;
  width: 30%;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transition: 0.3s ease;
  text-align: center;
}

.contact-card:hover {
  transform: translateY(-8px);
}

/* Responsive */
@media(max-width: 768px){
  .contact-details {
    flex-direction: column;
  }
  .contact-card {
    width: 90%;
  }
}